.find-book-container{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    input{
        width: 30em;
        height: 5em;
        
        
    }
    button{
        cursor: pointer;
        width: 10em;
        height: 3em;
    }
}