.find-book-container{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    form{
        input{
            font-weight: 900;
        }
    }
    button{
        cursor: pointer;
        width: 10em;
        height: 3em;
       
    }
}